/* testing pop up */
PopUpMenu {
}


PopUpMenu > Vertical {
    background: $panel;
    height: auto;
    width: auto;
    border: round green;
    align-horizontal: center;
}


PopUpMenu Button {
    border: none;
    width: auto;
}
